## **1. EXTRACT**

##### 1.1 Extraindo os dados do csv para uma estrutura de dados do pandas

In [153]:
import pandas as pd

def extract_data(csv_path):
    try:
        # Lê o CSV para um DataFrame (estrutura tabular poderosa do Python)
        df = pd.read_csv(csv_path, sep=';')
        return df
    except FileNotFoundError:
        print(f"Erro: O arquivo {csv_path} não foi encontrado.")
        return None

# Executando a extração
df_clientes = extract_data("data/clientes.csv")
df_mensagens = extract_data("data/mensagens.csv")

##### 1.2 Visualizando os dados dos clientes extraidos

In [154]:
if df_clientes is not None:
    display(df_clientes.head(10))
    print("\nEstrutura dos dados (Info):")
    df_clientes.info()

,id,nome,conta,limite,status_fatura,email,score
0,1,Ana Silva,0001-9,1500.0,proximo ao vencimento,ana.silva@bank.com,650
1,2,Bruno Souza,0002-8,2500.0,paga,bruno.souza@bank.com,920
2,3,Carla Dias,0003-7,3200.0,vencida,carla.dias@bank.com,310
3,4,Diego Lima,0004-6,800.0,longe do vencimento,diego.lima@bank.com,550
4,5,Elena Costa,0005-5,5000.0,proximo ao vencimento,elena.costa@bank.com,780
5,6,Fábio Rocha,0006-4,1200.0,paga,fabio.rocha@bank.com,810
6,7,Gabriela Alves,0007-3,6000.0,vencida,gabriela.alves@bank.com,405
7,8,Hugo Martins,0008-2,450.0,longe do vencimento,hugo.martins@bank.com,490
8,9,Isabela Ferreira,0009-1,2100.0,proximo ao vencimento,isabela.ferreira@bank.com,620
9,10,João Oliveira,0010-0,3000.0,paga,joao.oliveira@bank.com,895

Estrutura dos dados (Info):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             50 non-null     int64
 1   nome           50 non-null     object
 2   conta          50 non-null     object
 3   limite         50 non-null     float64
 4   status_fatura  50 non-null     object
 5   email          50 non-null     object
 6   score          50 non-null     int64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

##### 1.3 Visualizando as mensagens extraídas

In [155]:
if df_clientes is not None:
    display(df_mensagens.head(10))
    print("\nEstrutura dos dados (Info):")
    df_clientes.info()

,id_mensagem,tipo,mensagem_modelo
0,1,Boas-vindas,Seja bem-vindo ao nosso banco! Seu cartão já e...
1,2,Credito,Vimos que você usa bem seu cartão e tem um óti...
2,3,Investimento,Com seu perfil financeiro de alto nível temos ...
3,4,Segurança,Proteja sua conta! Ative a verificação em duas...
4,5,Oferta,"Parabéns! Pelo seu excelente histórico, você f..."
5,6,Black,Seu score é de elite! Você está elegível para ...
6,7,Cobranca_Vencida,Atenção! Sua fatura venceu. Realize o pagament...
7,8,Aviso_Vencimento,Lembrete: sua fatura vence em breve. Pague em ...
8,9,Agradecimento_Pagamento,Obrigado! Pagamento confirmado. Seu score cont...
9,10,Seguro,Imprevistos acontecem. Conheça nosso seguro de...

Estrutura dos dados (Info):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             50 non-null     int64
 1   nome           50 non-null     object
 2   conta          50 non-null     object
 3   limite         50 non-null     float64
 4   status_fatura  50 non-null     object
 5   email          50 non-null     object
 6   score          50 non-null     int64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

## **2 Transform**

##### 2.1 Criando mensagens personalizadas de acordo com o cliente

In [156]:
import pandas as pd
import random

def selecionar_id_mensagem(cliente):
    status = cliente['status_fatura']
    score = cliente['score']

    if status == 'vencida':
        return 7 # Mensagem de cobrança
    elif status == 'proximo ao vencimento':
        return 8 # Aviso preventivo
    elif status == 'paga':
        return 9 # Agradecimento
    
    # segunda prioridade de acordo com o score
    else:
        if score >= 800:
            return random.choice([2, 3, 5, 6]) # Ofertas para score alto
        else:
            return random.choice([1, 4, 10]) # ofertas padrão

df_clientes['id_mensagem'] = df_clientes.apply(selecionar_id_mensagem, axis=1)
display(df_clientes[['nome', 'status_fatura', 'score', 'id_mensagem']].head())

          nome          status_fatura  score  id_mensagem
0    Ana Silva  proximo ao vencimento    650            8
1  Bruno Souza                   paga    920            9
2   Carla Dias                vencida    310            7
3   Diego Lima    longe do vencimento    550           10
4  Elena Costa  proximo ao vencimento    780            8

##### 2.2 Criando DataFrame com as mensagens prontas para envio

In [ ]:
df_clientes['id_mensagem'] = df_clientes.apply(selecionar_id_mensagem, axis=1)

#merge com as mensagens e clientes
df_consolidado = df_clientes.merge(df_mensagens, on='id_mensagem', how='left')

#criacao da mensagem final
df_consolidado['mensagem_final'] = df_consolidado.apply(
    lambda row: f"Olá {row['nome']}, Tudo bem? {row['mensagem_modelo'].format(nome=row['nome'])}",
    axis=1
)

# Visualizando o resultado final
display(df_consolidado[['nome', 'email', 'mensagem_final']].head())

,nome,email,mensagem_final
0,Ana Silva,ana.silva@bank.com,"Olá Ana Silva, Tudo bem? Lembrete: sua fatura ..."
1,Bruno Souza,bruno.souza@bank.com,"Olá Bruno Souza, Tudo bem? Obrigado! Pagamento..."
2,Carla Dias,carla.dias@bank.com,"Olá Carla Dias, Tudo bem? Atenção! Sua fatura ..."
3,Diego Lima,diego.lima@bank.com,"Olá Diego Lima, Tudo bem? Imprevistos acontece..."
4,Elena Costa,elena.costa@bank.com,"Olá Elena Costa, Tudo bem? Lembrete: sua fatur..."

## **3 Load**

##### 3.1 Exportando os dados do dataFrame com as mensagens personalizadas para um arquivo csv

In [158]:
df_final.to_csv('data/campanha_mensagem_final.csv', index=False, sep=';', encoding='utf-8-sig')

print("Processo Finalizado! O arquivo 'campanha_mensagem_final.csv' foi gerado com sucesso.")

Processo Finalizado! O arquivo 'campanha_mensagem_final.csv' foi gerado com sucesso.